/* General styles for larger screens */
.Changepass-uforms {
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  max-width: 536px;
  /* Adjust the width as needed (70-80%) */
  height: auto;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 20px;
  margin-left: auto;
  /* Centering the element horizontally */
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.Confirmpassword {
  margin-bottom: -12px;
}

.Changepass-mainDiv {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.Change-pass-cardStyle {
  width: 500px;
  border-color: white;
  background: #fff;
  padding: 5px 0;
  border-radius: 4px;
  margin: 0px 0;
  box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
  background: repeating-radial-gradient(#df8c8c24, #d5a5d41c 100px);
}

.submitButton-changepass,
.Backbutton-changepass {
  /* width: 38%; */
  /* margin: 0px 14px 0px 36px; */
  padding: 2px;
  color: #fff;
  background-color: #065492;
  border-color: #065492;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: min(3vw, 14px);
  cursor: pointer;
}

.submitButton-changepass:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

.changepass-CloseSign {
  color: red;
  font-size: 15px;
  font-weight: 1000;
  position: absolute;
  top: 7px;
  right: 13px;
}

.changepass-LogoForgot {
  background: transparent;
  text-align: center;
  color: white;
  font-size: min(10vw, 48px);
}

.formTitle-changepass {
  font-weight: 600;
  margin-top: 0px;
  color: #2F2D3B;
  text-align: center;
  font-size: min(4vw, 28px);
}

.changepass-Info {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
}

.changepass_btn_div {

  display: flex;
  gap: 3rem;
  margin-top: 12px;

}

/* ______________________________________________________________ */

/* Responsive styles for smaller screens */
/* @media only screen and (max-width: 768px) {
    .Change-pass-cardStyle {
      width: 100%;
      padding: 10px;
    }
  
    .submitButton-changepass, .Backbutton-changepass {
      width: 100%;
      margin: 10px 0;
      font-size: 14px;
    }
  
    .changepass-LogoForgot {
      font-size: 32px;
    }
  
    .formTitle-changepass {
      font-size: 24px;
    }
  
    .Changepass-uforms {
      padding: 15px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .Change-pass-cardStyle {
      width: 100%;
      padding: 5px;
    }
  
    .submitButton-changepass, .Backbutton-changepass {
      width: 100%;
      margin: 5px 0;
      font-size: 12px;
    }
  
    .changepass-LogoForgot {
      font-size: 28px;
    }
  
    .formTitle-changepass {
      font-size: 20px;
    }
  
    .Changepass-uforms {
      padding: 10px;
    }
  } */

/*   
  @media only screen and (max-width: 375px) and (max-height: 812px) {
    .Change-pass-cardStyle {
        width: 100%;
        padding: 5px;
      }
    
      .submitButton-changepass, .Backbutton-changepass {
        width: 100%;
        margin: 5px 0;
        font-size: 12px;
      }
    
      .changepass-LogoForgot {
        font-size: 28px;
      }
    
      .formTitle-changepass {
        font-size: 20px;
      }
    
      .Changepass-uforms {
        padding: 10px;
      }

} */

/* ____________NEW________________ */
/* @media (max-width: 480px) {
  .Change-pass-cardStyle {
    width: 100%;
    padding: 5px;
  }

  .submitButton-changepass, .Backbutton-changepass {
    width: 100%;
    margin: 5px 0;
    font-size: 12px;
  }

  .changepass-LogoForgot {
    font-size: 28px;
  }

  .formTitle-changepass {
    font-size: 20px;
  }

  .Changepass-uforms {
    padding: 10px;
  }
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Change-pass-cardStyle {
    width: 100%;
    padding: 5px;
  }

  .submitButton-changepass,
  .Backbutton-changepass {
    /* width: 33%;
    margin: 2px 31px; */
    font-size: 12px;
  }

  .changepass-LogoForgot {
    font-size: 28px;
  }

  .formTitle-changepass {
    font-size: 20px;
  }

  .Changepass-uforms {
    padding: 10px;
  }

  .changepass-Info {
    font-size: 10px;
  }


}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */

  .Change-pass-cardStyle {
    width: 100%;
    padding: 5px;
  }

  .submitButton-changepass,
  .Backbutton-changepass {
    /* width: 37%;
    margin: 4px 32px; */
    font-size: 12px;
    padding: 3px;

  }

  .changepass-LogoForgot {
    font-size: 28px;
  }

  .formTitle-changepass {
    font-size: 20px;
  }

  .Changepass-uforms {
    padding: 10px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */

  .Change-pass-cardStyle {
    width: 100%;
    padding: 10px;
  }

  .submitButton-changepass,
  .Backbutton-changepass {
    /* width: 40%;
    margin: 2px 24px; */
    font-size: 13px;
    /* padding: 2px; */
  }

  .changepass-LogoForgot {
    font-size: 32px;
  }

  .formTitle-changepass {
    font-size: 24px;
  }

  .Changepass-uforms {
    padding: 15px;
  }

}


@media (min-width: 992px) and (max-width: 1199.98px) {

  /* Your styles here */
  .Change-pass-cardStyle {
    width: 100%;
    padding: 7px;
  }

  .submitButton-changepass,
  .Backbutton-changepass {
    /* width: 38%;
    margin: 3px 27px; */
    font-size: 13px;
    /* padding: 3px; */
  }

  .changepass-LogoForgot {
    font-size: 36px;
  }

  .formTitle-changepass {
    font-size: 28px;
  }

  .Changepass-uforms {
    padding: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

  /* Your styles here */
  .Change-pass-cardStyle {
    /* width: 100%; */
    padding: 14px;
  }

  .submitButton-changepass,
  .Backbutton-changepass {
    /* width: 35%;
    margin: 3px 33px; */
    font-size: 13px;
    /* padding: 1px; */
  }

  .changepass-LogoForgot {
    font-size: 40px;
  }

  .formTitle-changepass {
    font-size: 32px;
  }

  .Changepass-uforms {
    padding: 25px;
  }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  /* Your styles here */
  .Change-pass-cardStyle {
    width: 100%;
    padding: 8px;
  }

  .submitButton-changepass,
  .Backbutton-changepass {

    /* margin: 1px 31px; */
    font-size: 13px;
    /* padding: 2px; */
  }

  .changepass-LogoForgot {
    font-size: 44px;
  }

  .formTitle-changepass {
    font-size: 30px;
  }

  .Changepass-uforms {
    padding: 30px;
  }

  .text-cp {
    color: rgb(5, 159, 249);
  }

}