/* src/PageNotFound.css */

.page-not-found {
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-not-found h1 {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
}

.page-not-found p {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 30px;
}

.page-not-found a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.page-not-found a:hover {
  background-color: #0056b3;
}

/* chhayas code */
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
/* .contant_box_404 {
  margin-top: -50px;
} */
