
.cbody{
    background-color: lavender;
   }
   
   .text-card {
       color: #d9ffa9b8;
       font-size: 24px;
       font-weight: bold;
       text-transform: uppercase;
       font-family: math;
       margin-left: -2vw;
     }

 