/* CentralizedForm.css */

/* CentralizedForm.css */

.centralized-formB {
    background-color: #ffffff;
    border-radius: 1px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    margin: 0 auto;
   
    /* text-align: center; */
  }
  
  .form-headerB {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    padding: 8px;
    border-radius: 0px 0px 0 0;
    /* border-radius: 8px 8px 0 0;  */
  }
  
  .form-logo img {
    max-width: 30px;
    /* margin-right: 10px;  */
  }
  
  .Header-textB {
    font-size: 20px;
    text-shadow:4px 3px 4px #000;
    margin: 0;
    color: #ffffff;
  }
  .header-left {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .form-bodyB {
    padding: 10px;
  }
  .close-buttonH {
    /* position: absolute; */
    /* top: 10px;
    left: 10px; */
    /* align-self: flex-end; */
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    /* color: red; */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .close-buttonH:hover {
    color: #ff0000; /* Change color on hover if desired */
  }

  .custom-button.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

 
  